<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-18066333-8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-18066333-8');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Analytics4MD"/>
    <meta name="keywords" content="analytics, molecular dynamics, workflow, simulation, in situ"/>
    <meta name="author" content="Michela Taufer"/>
    <meta name="author" content="Rafael Ferreira da Silva"/>
    <title>Analytics4MD | </title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png">
</head><!--/head-->

<body>
<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 overflow">
                <div class="social-icons pull-right">
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="index.html">
                    <h1><img src="images/logos/logo-horizontal.png" width="180" alt="logo"></h1>
                </a>

            </div>
        </div>
    </div>
</header>
<!--/#header-->

{{ content }}

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="copyright-text text-center">
                    <p>&copy; 2017-{{ site.time | date: '%Y' }} Analytics4MD. All Rights Reserved.</p>
                    <p>Analytics4MD is funded by the National Science Foundation (NSF) under grants number <a
                            href="https://nsf.gov/awardsearch/showAward?AWD_ID=1741057" target="_blank">1741057</a>,
                        <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=1740990" target="_blank">1740990</a>,
                        and
                        <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=1741040" target="_blank">1741040</a>.
                        Any opinions, findings, and conclusions or recommendations expressed in this material are those
                        of the author(s) and do not necessarily reflect the views of the National Science Foundation.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/#footer-->

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/lightbox.min.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>
